circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.edge {
  stroke: #999;
  stroke-opacity: .6;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}